{% extends 'base.html' %}
{% load static %}

{% block head %}
  <link rel="stylesheet" href=" {% static 'css/dataTables.bootstrap4.css' %} ">
{% endblock  %}
{% comment %} 
{% block body %}


<h1>
    Gestión de Temas  
  </h1>
{% if lista_temas %}
      <ul>
          {% for tema in lista_temas %}
              <li><a href="{% url 'tema_detail' tema.id %}">{{ tema.titulo }}</a></li>
              {% endfor %}
            </ul>
      <form action="{% url 'create_tema' %}">
        <input type="submit" value="Añadir Tema"/>
      </form>
  {% else %}
      <h5>No hay temas registrados</h5>
      <form action="{% url 'create_tema' %}">
        <input type="submit" value="Añadir Tema"/>
      </form>

      {% endif %}{% endblock  %}

         {% endcomment %}
        
        
        {% block body %}
       <div class="card shadow">
                    <div class="card-body">
                      <div class="toolbar row mb-3">
                        <div class="col">
                          <form class="form-inline">
                            <div class="form-row">
                              <div class="form-group col-auto">
                                <label for="search" class="sr-only">Buscar</label>
                                <input type="text" class="form-control" id="search" value="" placeholder="Buscar">
                              </div>                       
                            </div>
                          </form>
                        </div>
                        <div class="col ml-auto">
                          <div class="dropdown float-right"> 
                           
                              <form action="{% url 'create_tema' %}">
                                <input type="submit" value="Nuevo Tema"  class="btn btn-primary float-right ml-3">
                              </form> 
                           
                          </div>
                        </div>
                      </div>
                      <!-- table -->
                      <table class="table table-bordered">
                        <thead>
                         
                           
                            <th>Titulo</th>
                            <th>Descripción</th>
                            <th>Fuente</th>
                          </tr>
                        </thead>
                        
                        <tbody>
                          {% for tema in lista_temas %}
                          <tr>
                            </td>
                            <td>
                              <a href="{% url 'tema_detail' tema.id %}">{{ tema.titulo }}</a></td>
                            <td>{{tema.descripcion}}</td>
                            <td>{{tema.fuente}}</td>
                          </tr>
                          <tr>
                           {% endfor %}
                         </tbody>
                      </table>
                    </div>
                  </div>
{% endblock %}  